<div th:fragment="footer">
  <footer id="footer" class="footer">
<!--    <div class="copyright">-->
<!--      &copy; Copyright <strong><span>TEK-A</span></strong>. All Rights Reserved-->
<!--    </div>-->
<!--    <div class="credits">-->

<!--      <p>Made with ❤️ by A-TEK</p>-->
<!--    </div>-->

    <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
      <p>Made with ❤️ by A-TEK</p>
    </div>
    <div class="col-md-6 text-center text-md-right">
      <p>&copy; 2023 <strong><span>Smooth Rufaa</span></strong></p>
    </div>

  </footer>
</div>