


<div th:fragment="footer" class="mt-auto">
    <footer class="py-3 container-fluid">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
                    <p>Made with ❤️ by A-TEK</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p>&copy; 2023 <strong><span>Smooth Rufaa</span></strong></p>
                </div>
            </div>
        </div>
    </footer>
</div>

