<!--accept referral and add referral appointment while changing
    the status of the referral-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Appointment for Referral</title>
    <!-- Import Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href = "@{/css/nav_bar.css}" rel="stylesheet">
    <link th:href = "@{/fontawesome/css/all.css}" rel="stylesheet">

</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <main style="margin-top: 58px;">
        <h1>in the page</h1>

        <div th:replace="fragments/footer :: footer"></div>
    </main>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/nav-sidebar.js}"></script>

</body>
</html>

